In [1]:
import pandas as pd;
file_path = "apple_stock.csv"
df = pd.read_csv("./apple_stock.csv")
print("First 5 rows of dataset:")
display(df.head)

print("\nDataset Information")
df.info()

print("\nMissing Values in Each Column:")
print(df.isnull().sum())

numerical_columns = ['Adj Close', 'Close', 'High', 'Low', 'Volume']
df_num = df[numerical_columns]

print("\nSubset of Numerical Columns:")
display(df_num.head(2))
print("\nMissing Values in Numerical Columns:")
print(df_num.isnull().any())
df_num_cleaned = df_num.dropna()
df_num_filled = df_num.fillna(df_num.mean())
print("\nData after Handling Missing Values (First 5 Rows):")
display(df_num_cleaned.head())

print(df_num.isnull().any())

First 5 rows of dataset:

<bound method NDFrame.head of        Unnamed: 0   Adj Close       Close        High         Low        Open  \
0      1980-12-12    0.098834    0.128348    0.128906    0.128348    0.128348
1      1980-12-15    0.093678    0.121652    0.122210    0.121652    0.122210
2      1980-12-16    0.086802    0.112723    0.113281    0.112723    0.113281
3      1980-12-17    0.088951    0.115513    0.116071    0.115513    0.115513
4      1980-12-18    0.091530    0.118862    0.119420    0.118862    0.118862
...           ...         ...         ...         ...         ...         ...
11102  2024-12-27  255.589996  255.589996  258.700012  253.059998  257.829987
11103  2024-12-30  252.199997  252.199997  253.500000  250.750000  252.229996
11104  2024-12-31  250.419998  250.419998  253.279999  249.429993  252.440002
11105  2025-01-02  243.850006  243.850006  249.100006  241.820007  248.929993
11106  2025-01-03  243.860001  243.860001  244.179993  241.889999  243.369995

          Volume
0      469033600
1      175884800
2      105728000
3       86441600
4       73449600
...          ...
11102   42355300
11103   35557500
11104   39480700
11105   55558000
11106   15135053

[11107 rows x 7 columns]>

Dataset Information
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11107 entries, 0 to 11106
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  11107 non-null  object
 1   Adj Close   11107 non-null  float64
 2   Close       11107 non-null  float64
 3   High        11107 non-null  float64
 4   Low         11107 non-null  float64
 5   Open        11107 non-null  float64
 6   Volume      11107 non-null  int64
dtypes: float64(5), int64(1), object(1)
memory usage: 607.5+ KB

Missing Values in Each Column:
Unnamed: 0    0
Adj Close     0
Close         0
High          0
Low           0
Open          0
Volume        0
dtype: int64

Subset of Numerical Columns:

   Adj Close     Close      High       Low     Volume
0   0.098834  0.128348  0.128906  0.128348  469033600
1   0.093678  0.121652  0.122210  0.121652  175884800

Missing Values in Numerical Columns:
Adj Close    False
Close        False
High         False
Low          False
Volume       False
dtype: bool

Data after Handling Missing Values (First 5 Rows):

   Adj Close     Close      High       Low     Volume
0   0.098834  0.128348  0.128906  0.128348  469033600
1   0.093678  0.121652  0.122210  0.121652  175884800
2   0.086802  0.112723  0.113281  0.112723  105728000
3   0.088951  0.115513  0.116071  0.115513   86441600
4   0.091530  0.118862  0.119420  0.118862   73449600

Adj Close    False
Close        False
High         False
Low          False
Volume       False
dtype: bool